.h1 {
  font-weight: bold;
  font-size: 67.77px;
  line-height: 90px;
  margin: 0;
}

.h2 {
  font-weight: bold;
  font-size: 67.77px;
  line-height: 90px;
  margin: 0;
}

.h3 {
  font-weight: bold;
  font-size: 67.77px;
  line-height: 90px;
  margin: 0;
}

.h4 {
  font-weight: bold;
  font-size: 32px;
  line-height: 36px;
  margin: 0;
}

.h5 {
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  margin: 0;
}

.accent {
  font-family: var(--accent-font);
}

.regular {
  font-family: var(--second-font);
}

.primary {
  font-family: var(--primary-font);
}