.wrapper {
    input {
        background-color: #fff;
        color: #5a5a5a;
        width: 100%;
        border-radius: 4px;
        outline: none;
        padding: 11px 14px;
        font-size: 16px;
        transition: all .3s;
        border: 1px solid #e3e3e3;
        &::placeholder {
            color: #393939;
        }
        &:focus {
            border-color: #000;
        }
    }

}