.movie {
  display: flex;
  padding: 10px 10px;
  border-bottom: 1px solid var(--color-second-bg);
  .poster {
    padding-right: 35px;
    img {
      width: 60px;
      height: 60px;
      border-radius: 10px;
      object-fit: cover;
    }

  }
  .content {
    .title {
      font-family: var(--accent-font);
      font-weight: bold;
      font-size: 22px;
      line-height: 24px;
      color: var(--text-color);
      padding-bottom: 7px;
    }
  }

  transition: background 0.3s;
  cursor: pointer;
  &:hover {
    background: var(--color-second-bg-lighten);
  }
}


@media screen and (max-width: 500px) {
  .movie {
    .content {
      .title {
        font-size: 16px;
        line-height: 18px;
      }
    }
  }
}
