.movie {
  display: flex;
  padding: 10px 10px;
  border-bottom: 1px solid #d9d7c6;
  .poster {
    padding-right: 35px;
    img {
      width: 60px;
      height: 60px;
      border-radius: 10px;
      object-fit: cover;
    }

  }
  .content {
    .title {
      font-family: var(--accent-font);
      font-weight: bold;
      font-size: 22px;
      line-height: 24px;
      color: var(--primary-text);
      padding-bottom: 7px;
    }
  }
  .tab {
    background: #efe8d8;
    border-radius: 10px;
    display: inline-block;
    padding: 8px;
    font-size: 14px;
    line-height: 17px;
    color: var(--primary-text);
  }

  // effects
  transition: background 0.3s;
  cursor: pointer;
  &:hover {
    background: #d9d7c6;
  }
}


@media screen and (max-width: 500px) {
  .movie {
    .content {
      .title {
        font-size: 16px;
        line-height: 18px;
      }
    }
  }
}
