.wrapper {
  position: relative;
}

.menu {
  top: calc(100% + 4px);
  right: 0;
  position: absolute;
  border-radius: 4px;
  background: var(--color-second-bg);
  padding: 6px 0;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.02);
}

.item {
  width: auto;
  overflow: hidden;
  font-size: 16px;
  box-sizing: border-box;
  font-weight: 400;
  line-height: 1.5;
  white-space: nowrap;
  letter-spacing: 0.00938em;
  padding: 12px 16px;

  cursor: pointer;
  transition: .3s;
  &:hover {
    background: var(--color-second-bg-lighten);
  }
}