@import "../../scss/animations";

.preview {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
}

.greet {
  margin-bottom: 100px;
  max-width: 620px;
  padding-right: 20px;
  color: var(--text-color);

  .text {
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    margin-bottom: 30px;
  }
}

.emoji {
  display: inline-block;
  margin-left: 10px;
  animation-duration: 3s;
  animation-name: slidein;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  color: #1b1d1c;
}

@keyframes slidein {
  from {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(20deg);
  }
  to {
    transform: rotate(0deg);
  }
}

.button_wrapper {
  max-width: 300px;
}
.poster {
  display: block;
}

@media screen and ( max-width: 800px ) {
  .poster {
    display: none;
  }
  .preview {
    flex-direction: column;
  }

  .previewImage {
    order: 1;
    height: 34vh;
    width: 100%;
  }

  .greet {
    order: 2;
    margin-bottom: 20px;
    padding-right: 0;
    .title {
      padding-top: 20px;
      font-size: 56px;
      line-height: 62px;
    }
    .text {
      font-size: 16px;
      font-weight: 500;
      line-height: 22px;
      margin-bottom: 30px;
    }
  }
  .randomButton {
    width: 100%;
    max-width: 100%;
  }
}