.preview {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
}

.greet {
  margin-bottom: 100px;
  max-width: 620px;
  padding-right: 20px;
  color: var(--primary-text);

  .text {
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    margin-bottom: 30px;
  }
}

.button_wrapper {
  max-width: 300px;
}

@media screen and ( max-width: 800px ) {
  .preview {
    flex-direction: column;
  }

  .previewImage {
    order: 1;
    height: 34vh;
    width: 100%;
  }

  .greet {
    order: 2;
    margin-bottom: 20px;
    padding-right: 0;
    .title {
      padding-top: 20px;
      font-size: 56px;
      line-height: 62px;
    }
    .text {
      font-size: 16px;
      font-weight: 500;
      line-height: 22px;
      margin-bottom: 30px;
    }
  }
  .randomButton {
    width: 100%;
    max-width: 100%;
  }
}