.heart {
  border: none;
  background: none;
  margin-left: auto;
  cursor: pointer;
  outline: none;
  svg {
    transition: all .3s;
    fill: none;
    path {
      stroke: var(--color-accent);
    }
  }
  &.active svg {
    fill: var(--color-accent);
  }
  &:hover {
    svg {
      transform: scale(1.2);
    }
  }
}

@media screen and (max-width: 500px) {
  .heart:hover {
    svg {
      transform: unset;
    }
  }
}