
.right_side {
  display: flex;
  align-items: center;

}

.search {
  cursor: pointer;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  border:none;
  outline: none;

  svg {
    path {
      transition: .3s;
    }
    &:hover path {
      fill: var(--primary-text);
    }
  }
}