
.header {
  padding-top: 24px;
  margin-bottom: 24px;

}
.header_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.switcher {
  margin-left: 32px;
}

.left_side {
  display: flex;
  align-items: center;
}

.right_side {
  display: flex;
  align-items: center;
}

.search {
  cursor: pointer;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  border:none;

  svg {
    path {
      transition: .3s;
    }
    &:hover path {
      fill: var(--text-color);
    }
  }
}