.movie {
  display: flex;
  justify-content: space-between;
}

.left {
  padding-top: 25px;
  .poster {
    border-radius: 10px;
    max-width: 300px;
  }
}
.right {
  max-width: 635px;
  margin-left: 22px;
  width: 100%;
}

.title {
  font-family: Playfair Display, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 67.77px;
  line-height: 90px;
  color: var(--primary-text);
}

.overview {
  padding-top: 22px;
  padding-bottom: 22px;
  .plot {
    padding-top: 6px;
    font-size: 16px;
    line-height: 24px;
    color: var(--primary-text);
  }
}

.tags {
  display: flex;
  flex-wrap: wrap;
  & > div:not(last-child) {
    margin-right: 14px;
  }
}

.rating_wrapper {
  display: flex;
  padding-top: 24px;
  justify-content: space-between;
  align-items: center;
}

.loaderWrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.random {
  margin-top: 20px;
  max-width: 300px;
}


@media screen and (max-width: 800px) {
  .movie {
    flex-direction: column;
  }
  .left {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 0;
    .random {
      width: 100%;
      max-width: 100%;
    }
    .poster {
      max-width: 100%;
    }
  }
  .right {
    padding-bottom: 30px;
    margin-left: 0;

  }

  .tags {
    overflow: auto;
    flex-wrap: nowrap;
    padding-bottom: 15px;
    & > div {
      white-space: nowrap;
      &:not(last-child) {
        margin-right: 14px;
      }
    }
  }

  .title {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 42px;
    line-height: 48px;
  }

  .rating {
    padding-top: 14px;
  }
}

