.switcher {
  display: block;
  width: 50px;
  --height: 26px;
  height: var(--height);
  background-color: transparent;
  position: relative;
  cursor: pointer;
  input {
    position: absolute;
    display: block;
    height: 0;
    width: 0;
    &:focus + figure {
      border-color: var(--color-accent);
    }
  }
  label {
    top: 0;
    left: 0;
    position: absolute;
    display: block;
    height: var(--height);
    width: 50px;
    background: #4d4d4d;
    border-radius: var(--height);
  }


  .switcher_circle {
    z-index: 3;
    position: absolute;
    width: var(--height);
    height: var(--height);
    border: 2px solid #4d4d4d;
    left: 0;
    top: 0;
    border-radius: 50%;
    background: #ffffff;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.24);
    transition: all .3s;
  }

  &.active .switcher_circle {
    left: calc(100% - var(--height));
  }

  .sun, .moon {
    z-index: 2;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
  }
  .sun {
    right: 4px;
  }
  .moon {
    left: 4px;
  }
}

