.movie {
  display: flex;
  justify-content: space-between;
}

.left {
  padding-top: 25px;
  .poster {
    border-radius: 10px;
    max-width: 300px;
  }
}
.right {
  max-width: 635px;
  margin-left: 22px;
  width: 100%;
}

.content {
  padding-top: 22px;
  padding-bottom: 22px;
  .text {
    padding-top: 6px;
    font-size: 16px;
    line-height: 24px;
    color: var(--text-color);
  }
}

.rating_wrapper {
  display: flex;
  padding-top: 24px;
  justify-content: space-between;
  align-items: center;
}

.loaderWrapper {
  width: 100%;
  height: 100%;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.random {
  margin-top: 20px;
  max-width: 300px;
}


@media screen and (max-width: 800px) {
  .movie {
    flex-direction: column;
  }
  .left {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 0;
    .random {
      width: 100%;
      max-width: 100%;
    }
    .poster {
      max-width: 100%;
    }
  }
  .right {
    padding-bottom: 30px;
    margin-left: 0;

  }



  .title {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 42px;
    line-height: 48px;
  }

  .rating {
    padding-top: 14px;
  }
}

@media screen and (max-height: 650px) {
  .left {
    padding-top: 0;
  }
}

