@import "variables";
@import "reset";
@import "animations";


html,
body,
#root {
  min-height: 100vh;
  background: var(--color-bg);
  transition: background 300ms;
  color: var(--text-color);
  font-family: var(--primary-font);
  font-weight: 400;
}

#root {
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
}

.container {
  --horizontal-spacing: 15px;

  padding: 0 var(--horizontal-spacing);
  max-width: calc(1110px - var(--horizontal-spacing) * 2);
  margin: 0 auto;
  width: 100%;
}

.full-page-centered {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
}

.title {
  font-family: var(--accent-font);
  font-style: normal;
  font-weight: bold;
  font-size: 67.77px;
  line-height: 90px;
  color: var(--text-color);
}

