:root {
  --color-bg: #f9f7e8;
  --color-accent: #17C37B;
  --primary-text: #1b1d1c;
  --primary-font: 'Inter', sans-serif;
  --second-font: 'Roboto', sans-serif;
  --accent-font: 'Playfair Display', serif;
}